:root {
  --black-100: #333;
  --black-80: #666;
  --black-60: #888;
  --black-40: #aaa;

  --azul-100: #000033;
  --azul-300: #33aadd;
  --laranja: #F29F05;
  --vermelho: #F23030;
  --branco: #f2f2f2;
}

.user-avatar img {
  border: 2px solid black;
  padding: 4px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.btn.btn-primary {
  background-color: var(--azul-300) !important;
  border: var(--azul-300) !important;
  ;
}

.btn.btn-primary>img {
  width: 16px;
  padding-right: 4px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  background-color: var(--black-40);
}

.footer p {
  font-weight: 300;
  margin: 0;
}

.footer b {
  font-weight: 600;
}

section#sobre ul {
  list-style: none;
  padding: 0;
}

section#sobre ul.editorial-list li {
  padding-left: 1.5em;
}

section#sobre ul.editorial-list li::before {
  content: '\f406';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
}

section#sobre ul.socials-list {
  display: flex;
}

section#sobre ul.socials-list li img {
  height: 2em;
  margin: 0.5em;
}

section#sobre ul.socials-list li:first-child img {
  margin-left: 0;
}

iframe {
  max-width: 100%;
  max-height: auto;
}

.bg-dark {
  background-color: var(--azul-100) !important;
}

.navbar {
  background-color: var(--azul-300) !important;
}

.vote_average {
  background: var(--azul-300);
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  position: absolute;
}

.overview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-title {
  height: 42px !important;
}

a.navbar-brand.text-light:after {
  content: '';
  background-color: #FFC107;
  height: 6px;
  width: 100%;
  display: block;
}

.text-truncate-container {
  width: 250px;
}

.text-truncate-container p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-personal {
  overflow: hidden;
  text-overflow: ellipsis;
}